# Create a `.env` file in the `backend` folder with the following values:

NODE_ENV
PORT
MONGO_URI
JWT_SECRET
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
FRONTEND_URL

# Front-end .env variables:
# VITE_API_URL=http://localhost:5000
